/*00-helper*/
/* ---------------------------------------------------------------------
Fonts
--------------------------------------------------------------------- */
/* ---------------------------------------------------------------------
Colors
--------------------------------------------------------------------- */
/* ---------------------------------------------------------------------
Size
--------------------------------------------------------------------- */
/* ---------------------------------------------------------------------
 RESET CSS (thanks Eric Meyer)
--------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:focus {
  outline: 0;
}

/* Always show a vertical scrollbar, even when there is no scrolling */
html {
  overflow-y: scroll;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* ---------------------------------------------------------------------
 HTML5 Element Reset
--------------------------------------------------------------------- */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

audio, canvas, video, progress, picture {
  display: inline-block;
}

template {
  display: none;
}

/* ---------------------------------------------------------------------
 Form Reset Styles
--------------------------------------------------------------------- */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*01-vendor*/
/*02-base*/
/* ---------------------------------------------------------------------
 Base
--------------------------------------------------------------------- */
body {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 13px;
  background-color: #00527a;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h2 {
  padding: 1px 4px 8px 4px;
  font-size: 9pt;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 12px;
}

h3 {
  background-color: #0084d9;
  height: 35px;
  margin: 17px 0 13px 0;
  padding: 12px;
  box-sizing: border-box;
  text-transform: uppercase;
  color: #fff;
}

input {
  position: relative;
  width: 100%;
  padding: 6px 3px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px solid #cecece;
}

.quote {
  font-family: "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  font-size: 13px;
  margin: 0 3px 16px 3px;
}

/* ---------------------------------------------------------------------
 Site
--------------------------------------------------------------------- */
.site {
  max-width: 1000px;
  margin: auto;
  box-sizing: border-box;
  padding: 20px;
}

.site-hd {
  margin-bottom: 20px;
}

.site-bd {
  padding: 20px 18px 8px 18px;
  background-color: #ffffff;
}

.site-ft {
  padding: 19px 18px 18px 18px;
  background-color: #2c2c2c;
}

/* ---------------------------------------------------------------------
 hList
--------------------------------------------------------------------- */
.hList {
  font-size: 0;
}

.hList > * {
  display: inline-block;
  position: relative;
  font-size: 12px;
}
.hList > *:hover {
  text-decoration: underline;
}

.hList > * + * {
  margin-left: 24px;
}

.hList > * + *:before {
  content: "";
  height: 14px;
  width: 1px;
  margin-top: -7px;
  position: absolute;
  top: 50%;
  left: -12px;
  background-color: #ffffff;
}

.hListBlack > * + *:before {
  content: "";
  height: 14px;
  width: 1px;
  margin-top: -7px;
  position: absolute;
  top: 50%;
  left: -12px;
  background-color: #000;
}

.hListGrey > * + *:before {
  content: "";
  height: 14px;
  width: 1px;
  margin-top: -7px;
  position: absolute;
  top: 50%;
  left: -12px;
  background-color: #969696;
}

/* ---------------------------------------------------------------------
 Button
--------------------------------------------------------------------- */
button {
  background-color: #0084d9;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 13px;
  color: #fff;
  position: relative;
  float: right;
  border: none;
  margin-bottom: 6px;
}
button:hover {
  background-color: #00527a;
}
button:active {
  border: 1px solid #0084d9;
  color: #00527a;
  background-color: #fff;
}

/* ---------------------------------------------------------------------
Sprites
--------------------------------------------------------------------- */
.socialMedia {
  float: right;
  margin-top: -34px;
}
.socialMedia li {
  float: right;
  margin-right: 1.8%;
  background-image: url("/assets/images/social-media.png");
  background-repeat: no-repeat;
  height: 27px;
  width: 27px;
}
.socialMedia li:first-child {
  margin-right: 0px;
}

.facebook {
  background-position: -1px 0;
}
.facebook:hover {
  background-position: -31px 0;
}

.flickr {
  background-position: -1px -30px;
}
.flickr:hover {
  background-position: -31px -30px;
}

.twitter {
  background-position: -1px -60px;
}
.twitter:hover {
  background-position: -31px -60px;
}

.venmo {
  background-position: -1px -90px;
}
.venmo:hover {
  background-position: -31px -90px;
}

.rss {
  background-position: -1px -120px;
}
.rss:hover {
  background-position: -31px -120px;
}

/*03-layout*/
/* ---------------------------------------------------------------------
Grid
--------------------------------------------------------------------- */
.row {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.row :before, .row :after {
  display: table;
  content: " ";
}
.row :after {
  clear: both;
}

/* 10 column */
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
  padding: 0 0.5%;
}

.one {
  width: 10%;
}

.two {
  width: 20%;
}

.three {
  width: 30%;
}

.four {
  width: 40%;
}

.five {
  width: 50%;
}

.six {
  width: 60%;
}

.seven {
  width: 70%;
}

.eight {
  width: 80%;
}

.nine {
  width: 90%;
}

.ten {
  width: 100%;
}

/*04-modules*/
/* ---------------------------------------------------------------------
 Footer
--------------------------------------------------------------------- */
.footer {
  font-size: 10px;
  wight: 200px;
  color: #969696;
}

.footer a {
  color: #ffffff;
}

/* ---------------------------------------------------------------------
 Carousel
--------------------------------------------------------------------- */
.carousel-item_isInactive {
  position: absolute;
  left: -9999px;
  line-height: 0;
}

.carousel-item_isActive {
  position: static;
  left: 0;
}

.carousel {
  position: relative;
  top: 0px;
  left: -4px;
}

.carousel-btn {
  cursor: default;
  background: red;
  padding: 10px;
  margin-left: -5px;
  padding-left: 45%;
}

/*  */
.carousel-btn input {
  height: 18px;
  width: 18px;
}

/* ---------------------------------------------------------------------
 Header
--------------------------------------------------------------------- */
.logo {
  position: relative;
  height: 100px;
}

.userNav {
  float: right;
  padding-bottom: 79px;
  margin-top: -37px;
}
.userNav li a {
  color: #fff;
}

/* ---------------------------------------------------------------------
Navigation Bar
--------------------------------------------------------------------- */
.siteNav {
  background-color: #cccccc;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#fcfcfc, #d2d2d2);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#fcfcfc, #d2d2d2);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#fcfcfc, #d2d2d2);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#fcfcfc, #d2d2d2);
  /* Standard syntax */
  cursor: pointer;
  border: 1px solid;
  border-color: #bdbdbd #d2d2d2;
}
.siteNav ul {
  height: 14%;
  width: 101.4%;
}
.siteNav li {
  float: left;
  padding: 1.4% 3.9% 1.3% 3.9%;
  box-sizing: border-box;
  /* Active Tab State - makes site look like comp */
        /* Active Tab State - tiggers on click
        &:active {
            position: relative;
            background: #fff;
            margin: -2px -1px -2px -2px;
            border: 2px solid;
            border-color: #d2d2d2 #d2d2d2 #fff #d2d2d2;

            &:first-child {
                margin-left: -6px;
                margin-right: -2px;
            }
        }*/
}
.siteNav li:first-child {
  margin-left: -5px;
}
.siteNav li:hover {
  background-color: #bdbdbd;
  background: -webkit-linear-gradient(#e1e3e6, #bdbdbd);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#e1e3e6, #bdbdbd);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#e1e3e6, #bdbdbd);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#e1e3e6, #bdbdbd);
  /* Standard syntax */
}
.siteNav li:nth-child(4n) {
  position: relative;
  background: #fff;
  margin: -2px -1px -2px -2px;
  border: 2px solid;
  border-color: #d2d2d2 #d2d2d2 #fff #d2d2d2;
}
.siteNav a {
  text-transform: uppercase;
  color: #4d4f52;
  font-weight: 600;
  font-size: 13px;
  text-shadow: 1px 1px #fff;
}

/* ---------------------------------------------------------------------
Sections
--------------------------------------------------------------------- */
.signUpBox,
.testimonialBox {
  background-color: #dbdbdb;
  padding: 6px 9px 9px 9px;
  box-sizing: border-box;
  margin-left: 14px;
  width: 28.5%;
  margin-bottom: 21px;
  height: 227px;
}

.testimonialBox {
  height: 155px;
  margin-bottom: 0;
}

/* Newsletter Box */
.newsletter-icon {
  position: relative;
  border: 1px solid;
  border-color: #dbdbdb #dbdbdb #4d4f52 #dbdbdb;
}
.newsletter-icon img {
  height: 19px;
  padding: 0 0 4px 0;
  margin-left: -3px;
}
.newsletter-icon h2 {
  width: 90%;
  float: right;
  height: 18px;
  margin-left: -10px;
  padding: 3px 0 4px 0;
}

.directions {
  font-style: italic;
  font-size: 12px;
  padding: 8px;
}

.checkBox {
  position: relative;
  font-size: 12px;
  font-weight: 600;
  margin-left: 2px;
}
.checkBox input {
  width: 10%;
}

.policyBox {
  position: relative;
  height: 26px;
  clear: both;
  margin: 0px -9px;
  padding: 6px 45px;
  box-sizing: border-box;
  background-color: #c7c6c6;
  border: 1px solid;
  border-color: #4d4f52 #c7c6c6 #c7c6c6 #c7c6c6;
}

/* Testimonial Box */
.pencil-icon {
  position: relative;
  border: 1px solid;
  border-color: #dbdbdb #dbdbdb #4d4f52 #dbdbdb;
}
.pencil-icon img {
  height: 19px;
  padding: 0 0 4px 0;
  margin-left: -3px;
}
.pencil-icon h2 {
  width: 90%;
  float: right;
  height: 16px;
  margin-left: -10px;
  padding: 4px 0 0 0;
}

.optionBox {
  background-color: #c7c6c6;
  margin-bottom: 10px;
  clear: both;
}

.innerShadow {
  -moz-box-shadow: inset 0 0 7px #d5d5d5;
  -webkit-box-shadow: inset 0 0 7px #d5d5d5;
  box-shadow: inset 0 0 7px #d5d5d5;
}

/* ---------------------------------------------------------------------
Video Gallery
--------------------------------------------------------------------- */
.video {
  float: left;
  position: relative;
  box-sizing: border-box;
  margin-top: 5pt;
  margin-right: 21px;
  margin-bottom: 11px;
}
.video:hover {
  color: #00527a;
  opacity: 0.6;
  filter: alpha(opacity=60);
  /* For IE8 and earlier */
}
.video p {
  height: 31px;
  margin-top: -32px;
  padding: 7px 15px;
  box-sizing: border-box;
  background-color: white;
  font-size: 13px;
  font-weight: 600;
  opacity: 0.6;
  filter: alpha(opacity=60);
  /* For IE8 and earlier */
}

.gallery {
  width: 106%;
}
.gallery:before, .gallery:after {
  display: table;
  content: "";
}
.gallery:after {
  clear: both;
}

.playButton {
  position: absolute;
  top: 34%;
  left: 40%;
}

/*04-states*/
