/* ---------------------------------------------------------------------
Video Gallery
--------------------------------------------------------------------- */
.l-gallery {
    width: 100%;
    height:100%;
    border: 0px;

    /* TODO: for a smaller screen make turn float to left */
    :nth-child(4) {
        margin-right: 0px;
        float:right;
    }
}

.l-gallery__item {
    float: left;
    list-style: none;
    margin-bottom: 20px;
    margin-right: 20px; 
    box-sizing: border-box;
    width: 225px;
    height:170px;

    // TODO: ie8 why is the hover hanging out high and to the left? 
    &:hover {
        background-color: white;
        opacity: 0.6;
        filter: alpha(opacity=60); /* For IE8 and earlier */
    }
}