/* ---------------------------------------------------------------------
 Site [1113px]
--------------------------------------------------------------------- */
.site {
    max-width: $content-width;
    margin: auto;
    padding: $gutter-width;
    padding-bottom: 0;
    height: 1113px;
}

.site__header {
    height: 110px; /* 110/1113 */
}

.site__nav {
    height: 40px; /* 38/1113 */
    width: 100%;
    margin-top: 5px;
    background-color: #cccccc; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fefefe,#c7c6c6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fefefe,#c7c6c6);  /*For Opera 11.1 to 12.0*/
    background: -moz-linear-gradient(#fefefe,#c7c6c6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fefefe,#c7c6c6); /* Standard syntax */
}

.site__body {
    height: 879px; /* 879/1113 */
    width: 100%;
    padding: $gutter-width $gutter-width/2;
    box-sizing: border-box;
    background-color: #fff;
}

.site__footer {
    height: 66px; /* 66/1113 */
    padding: 16px $gutter-width/2;
    background-color: #2c2c2c;
    box-sizing: border-box;
}