/* ---------------------------------------------------------------------
 Carousel
--------------------------------------------------------------------- */
.carousel-item_isInactive {
    position: absolute;
    left: -9999px;
    line-height: 0;
}

.carousel-item_isActive {
    position: static;
    left: 0;
}

.carousel{
    position: relative;
    top: 0px;
    left: -4px;
}

//TODO: add arrows and circle progrss bar