/* ---------------------------------------------------------------------
 Carousel
--------------------------------------------------------------------- */
.carousel-player {
    position: relative;
    height: 100%;
    
    & img {
        width: 100%;
        height: 100%;
    }
}

//TODO: add circle indicator bar
.carousel-indi {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: $gutter-width 0 $gutter-width 42%;
    box-sizing: border-box;
}

/* radio button */
.carousel-indi input {
    height: 18px;
    width: 18px;
}

/* animation */
.carousel-item_isInactive {
    position: absolute;
    left: -9999px;
    line-height: 0;
}

.carousel-item_isActive {
    position: static;
    width: 100%;
}