/* ---------------------------------------------------------------------
 Carousel
--------------------------------------------------------------------- */
.carousel-player {
    position: relative;
    height: 100%;
    width: 100%;
}

.carousel__indecator {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 0% 0% 1% 44%;
    box-sizing: border-box;
}