/* ---------------------------------------------------------------------
 Footer
--------------------------------------------------------------------- */
.footer {
    font-size: 10px;
    wight: 200px;
    color: #969696;
}

.footer a {
    color: #ffffff;
}

.socialMedia {
    float: right;
    margin-top: -25px;

    & li {
        float: right;
        margin-right: 2%;
        background-image:url("/assets/images/social-media.png");
        background-repeat: no-repeat;
        height: 30px;
        width: 30px;
    }
}

.facebook {
    background-position: 0 0;

    &:hover {
        background-position: -32px 0;  
    }
}

.flickr {
    background-position: 0 -30px;

    &:hover {
        background-position: -32px -30px;  
    }
}

.twitter {
    background-position: 0 -60px;

    &:hover {
        background-position: -32px -60px;  
    }
}

.venmo {
    background-position: 0 -90px;

    &:hover {
        background-position: -32px -90px;  
    }
}

.rss {
    background-position: 0 -120px;

    &:hover {
        background-position: -32px -120px; 
    }
}