/* ---------------------------------------------------------------------
 Footer
--------------------------------------------------------------------- */
.footer {
    color: #ffffff;
}

.footer a {
    color: #ffffff;
}

.socialMedia {
    float: right;
    margin-top: -25px;

    & li{
        float: right;
        margin-right: 10px;
    }
}