/* ---------------------------------------------------------------------
 Header
--------------------------------------------------------------------- */
//T0DO: for retina display get logo font and replace png logo with SVG
.logo {
    position: relative;
    height: 100px;
}

//T0DO: remove "margin top" for smaller breakpoints
.userNav {
    float: right;
    padding-bottom: 79px;
    margin-top: -37px;

    & li a {
        color: #fff;
    }  
}
