/* ---------------------------------------------------------------------
 Header
--------------------------------------------------------------------- */
//T0DO: for retina display get logo font and replace png logo with SVG
.logo img {
    position: relative;
    height: 85px;
    width: 275px;
    margin-left: -4px;
    margin-bottom: 28px;
}

//T0DO: remove "margin top" for smaller breakpoints
.nav__user-account {
    float: right;
    margin: 65px 0 35px;
}