/* ---------------------------------------------------------------------
Navigation Bar
--------------------------------------------------------------------- */
.nav__primary {
    border-top: 1px solid;
    border-bottom: 1px solid;
    height: 38px;
    border-color: #c1bfbf #fefefe;
}

.nav__primary li {
    float: left;
    color: $brand-box-grey;
    height: 38px;
    padding: 13px 32px;
    margin-left: 3px;
    box-sizing: border-box;
    letter-spacing: 1px;

    &:hover {
        background-color: #bdbdbd;
        background: -webkit-linear-gradient(#e1e3e6,#bdbdbd); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#e1e3e6,#bdbdbd); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#e1e3e6,#bdbdbd); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#e1e3e6,#bdbdbd); /* Standard syntax */
    }

    &:active {
        background: #fff;
        margin-top: -5px;
        margin-left: 2px;
        padding-top: 16px;
        padding-bottom: 26px;
        padding-right: 25px;
        padding-left: 28px;
        height: 20px;
        border: 1px solid #c1bfbf;
        border-bottom: 1px solid #fff;
    }

    &:last-child {
        float: right;
    }

    /* active state does not show up in ie8*/
    &:nth-child(4) {
        background: #fff;
        margin-top: -5px;
        margin-left: -2px;
        padding-top: 16px;
        padding-bottom: 26px;
        padding-right: 36px;
        padding-left: 28px;
        height: 20px;
        border: 1px solid #c1bfbf;
        border-bottom: 1px solid #fff;
    }
}

.nav__primary li a {
    text-transform: uppercase;
    color: #4d4f52;
    font-weight: 600;
    font-size: 13px;
    text-shadow: 1px 1px #fff;
}