/* ---------------------------------------------------------------------
Navigation Bar
--------------------------------------------------------------------- */
.nav__primary {
    border: 1px solid;
    height: 38px;
    border-color: #7b7a7a #fefefe;
}

.nav__primary li {
    position: relative;
    float: left;
    color: $brand-box-grey;
    height: 38px;
    padding: 13px 38px;
    box-sizing: border-box;

    &:hover {
        background-color: #bdbdbd;
        background: -webkit-linear-gradient(#e1e3e6,#bdbdbd); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#e1e3e6,#bdbdbd); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#e1e3e6,#bdbdbd); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#e1e3e6,#bdbdbd); /* Standard syntax */
    }

    &:active {
        background: #fff;
        border: 2px solid;
        border-color: #d2d2d2 #d2d2d2 #fff #d2d2d2;
    }

    &:last-child {
        float: right;
        padding: 13px 37px;
        box-sizing: border-box;
        margin-top: -5px 0;
    }

    /* active state*/
    &:nth-child(4) {
        background: #fff;
        border: 2px solid;
        border-color: #d2d2d2 #d2d2d2 #fff #d2d2d2;
        padding-top: 15px;
        padding-right: 42px;
        padding-left: 41px;
        padding-bottom: 5px;
        margin-top: -5px;
    }
}
.nav__primary li a {
    text-transform: uppercase;
    color: #4d4f52;
    font-weight: 600;
    font-size: 13px;
    text-shadow: 1px 1px #fff;
}