/* ---------------------------------------------------------------------
Secondary Content
--------------------------------------------------------------------- */
/* Newsletter Box */

/* Email Input */
.newsletter {
    margin-top: $gutter-width/2;
}
.newsletter__email input {
    position: relative;
    width: 100%;
    padding: 5px 6px;
    box-sizing: border-box;
    border: 1px solid $brand-md-grey;
    box-shadow: inset 0 0 7px $brand-md-grey;
    -moz-box-shadow: inset 0 0 7px $brand-md-grey;
    -webkit-box-shadow: inset 0 0 7px $brand-md-grey;
    font-size: 12px;
    font-style: italic;
    margin-top: 2px;
    margin-bottom: 10px;
}

/* Email Input Options */
.newsletter__options-box {
    background-color: $brand-box-grey;
    height: 52px;
    padding: $gutter-width/2;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.newsletter__options-box li {
    margin-left: -5px;
    font-weight: 600;
    padding-top: 2px;
    padding-bottom: 2px;
}

.newsletter__directions{
    font-size: 12px;
    font-style: italic;
    padding-bottom: 5px;
}

.check-box {
    width: 25px;
}

/* Email Policy */
.policy-box {
    position: relative;
    height: 24px;
    margin-left: -$gutter-width/2;
    margin-right: -$gutter-width/2;
    border-top: 1px solid $brand-dk-grey;
    background-color: $brand-box-grey;
    padding-left: 20px;
}

.policy-box__text {
    font-size: 12px;
    margin-left: 25px;
    margin-right: 0px;
    margin-top: 6px;

    &:hover {
        text-decoration: underline;
    }
}

/* Testimonial Box */
.testimony {
    font-family: $base-font-family;
    line-height: 1.3;
    font-size: 14px;
    margin-top: 9px;
    height: 97px;
}