/* ---------------------------------------------------------------------
Sections
--------------------------------------------------------------------- */
/* Seconary Content Box */
.content-box-one {
    background-color: $brand-grey;
    width: 100%;
    padding: 2px $gutter-width/2;
    box-sizing: border-box;
    margin-bottom: $gutter-width;
}

.content-box-two {
    background-color: $brand-grey;
    width: 100%;
    padding: 5px $gutter-width/2;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.content-box__title {
    position: relative;
    float: left;
    height: 28px;
    width: 100%;
    margin-bottom: 8px;
    border: 1px solid;
    border-color: $brand-grey $brand-grey $brand-dk-grey $brand-grey;
}

.content-box__icon {
    float: left;
    margin-right: $gutter-width/2;
    margin-left: -3px;
    height: $gutter-width;
    width: $gutter-width;
}

.content-box__text {
    padding-top: 5px;
}