/* ---------------------------------------------------------------------
Sections
--------------------------------------------------------------------- */
/* Seconary Content Box */
.content-box-news, .content-box-test {
    position: relative;
    background-color: $brand-grey;
    width: 100%;
    padding: 2px $gutter-width/2;
    box-sizing: border-box;
    margin-bottom: $gutter-width;
}

.content-box__title {
    float: left;
    height: 25px;
    width: 100%;
    padding-top: 4px;
    margin-bottom: 4px;
    border: 1px solid;
    border-color: $brand-grey $brand-grey #969696 $brand-grey;
}

.content-box__icon {
    float: left;
    margin-right: 6px;
    margin-left: -3px;
    height: 19px;
    width: 19px;
}

.content-box__text {
    padding-top: 4px;
}