/* ---------------------------------------------------------------------
Videos in Gallery
--------------------------------------------------------------------- */
.video {
    position: relative;
    float: left;
    margin-right: 13px;
    margin-bottom: 20px;   
}

.video__description {
    position: absolute;
    bottom: 0px;
    font-size: 13px;
    font-weight: 600;
    height: 31px;
    width: 100%;
    padding: 7px 15px;
    box-sizing: border-box;
    background-color: white;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.video__playButton {
        position: absolute;
        left: 88px;
        top: 55px;
        width: 50px;
    }