/* ---------------------------------------------------------------------
Video Gallery
--------------------------------------------------------------------- */
.video {
    float: left;
    position: relative;
    box-sizing: border-box;
    margin-top: 5pt;
    margin-right: 21px;
    margin-bottom: 11px;

    &:hover {
        color: $background-color;
        opacity: 0.6;
        filter: alpha(opacity=60); /* For IE8 and earlier */
    }

    & p {
        height: 31px;
        margin-top: -32px;
        padding: 7px 15px;
        box-sizing: border-box;
        background-color: white;
        font-size: 13px;
        font-weight: 600;
        opacity: 0.6;
        filter: alpha(opacity=60); /* For IE8 and earlier */
    }
}

.gallery {
    width: 106%;

    &:before,
    &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }
}

.playButton {
    position:absolute;
    top: 34%;
    left: 40%;
}