/* ---------------------------------------------------------------------
Videos in Gallery
--------------------------------------------------------------------- */
.video {
    position: relative;
    width: 225px;
    height:170px;
}

.video__description {
    position: absolute;
    bottom: 0px;
    height: 31px;
    width: 100%;
    padding: 7px 15px;
    box-sizing: border-box;
    font-weight: 600;
    background-color: white;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.video__playButton {
    position: absolute;
    top: 55px;
    left: 88px;
    width: 50px;
}