/* ---------------------------------------------------------------------
Colors
--------------------------------------------------------------------- */
//dark teal
$background-color: #00527a;
//cyan blue
$brand-blue: #0084d9;

//light grey
$brand-grey: #dbdbdb;
//dark grey
$brand-dk-grey: #2c2c2c;
//medium grey
$brand-md-grey: #b5b4b4;

//important box
$brand-box-grey: #c7c6c6;