/* ---------------------------------------------------------------------
 Button
--------------------------------------------------------------------- */
button {
    background-color: $brand-blue;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    position: relative;
    float: right;
    border: none;
    margin-bottom: 6px;

    &:hover {
        background-color: $background-color;
    }

    &:active {
        border: 1px solid $brand-blue;
        color: $background-color;
        background-color: #fff;
    }
}