/* ---------------------------------------------------------------------
 hList
--------------------------------------------------------------------- */
.hList {
    font-size: 0;
}

.hList > * {
    display: inline-block;
    position: relative;
    font-size: 12px;
}

.hList > * + * {
    margin-left: 24px;
}

.hList > * + *:before {
    content: "";
    height: 14px;
    width: 1px;
    margin-top: -7px;
    position: absolute;
    top: 50%;
    left: -12px;
    background-color: #ffffff;
}