/* ---------------------------------------------------------------------
Carousel Button Sprites
--------------------------------------------------------------------- */
/* player */
.button--prev, .button--next {
    position: absolute;
    background-image: url("/assets/images/button-next-prev.png");
    top: 181px;
    height: 40px;
    width: 40px;
}

.button--prev {
    left:0;
    background-position: -1px -1px;

    &:hover {
        background-position: -1px -41px;

    }

    &:active {
        background-position: -01px -81px;

    }
}

.button--next {
    right:0;
    background-position: -39px -1px;

    &:hover {
        background-position: -39px -41px;

    }

    &:active {
        background-position: -39px -81px;

    }
} 