/* ---------------------------------------------------------------------
Sprites
--------------------------------------------------------------------- */
.socialMedia__container li {
    float: right;
    background-image:url("/assets/images/social-media.png");
    background-repeat: no-repeat;
    height: 27px;
    width: 27px;
    margin-right: 8px;
}

.facebook {
    background-position: -1px 0;


    &:hover {
        background-position: -31px 0;  
    }
}

.flickr {
    background-position: -1px -30px;

    &:hover {
        background-position: -31px -30px;  
    }
}

.twitter {
    background-position: -1px -60px;

    &:hover {
        background-position: -31px -60px;  
    }
}

.venmo {
    background-position: 0px -90px;

    &:hover {
        background-position: -30px -90px;  
    }
}

.rss {
    background-position: 0px -121px;

    &:hover {
        background-position: -30px -121px;
    }
}