/* ---------------------------------------------------------------------
 Base - Text
--------------------------------------------------------------------- */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    background-color: $background-color;
    color: $brand-dk-grey;
}

a {
    text-decoration: none;
    cursor:pointer;
    color: #fff;
    cursor:pointer;
}

li {
    cursor:pointer;
}

p {
    font-size: 13px;
}

//not using
h1 {
    font-family: $base-font-family;
    font-size: $base-font-size;
    color: red;
}

h2 {
    padding: 1px 4px 8px 4px;
    font-size: 9pt;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom:12px;
}

h3 {
    background-color:$brand-blue;
    height: 35px;
    margin-bottom: 20px;
    padding: 12px 14px;
    box-sizing: border-box;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
}

//not using
h4 {
    padding: 0; 
    box-sizing: border-box;
}

//not using
h5 {
    margin: 0;
    padding: 0;     
}

span.sr-only {
    display: none;
    visibility: none; 
}

.isVisuallyHidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    position: absolute;
    clip: rect(0 0 0 0);
    overflow: hidden;
}